body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
header{
    background-color: rgb(117, 171, 241);
    background-image: url("../Images/pattern.png");
    height: 150px;
    width: 100%;
    background-position-x: 115px;
    background-position-y: -20px;
}

#logo {
    height: 15%;
    width: 15%;
    position: absolute;
    left: 5px;
    top: 40px;
}

#titolo {
    margin-top: 20px;
}
h1 {
    font-size: 60px;
    margin-bottom: 5px;
}
h2 {
    color:rgb(154, 154, 154);
    margin-top: 5px;
   
}



#didascalia {
    font-size: 12px;
    margin-top: 2px;
}


.evidenziatore {
    background-color:yellow;
}

.adv {
    display: flex;
    flex-direction: column;

}

.adv img {
    width: 30%;
    padding-bottom: 15px;    
}